/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

button,
a {
  cursor: pointer;
  max-width: max-content;
}

a {
  text-decoration: none !important;
  color: inherit;
}

input {
  border: none;
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
}

input:focus {
  outline: none;
}

button {
  border-radius: 10px;
  padding: 5px 10px;
  border-color: transparent;
  box-shadow: none;
}
